{% extends "roots/base.html" %}

{% block title %}新しくWikiを作成|{{service_title}}{% endblock %}

{% block contents %}
{% include "commons/message.html" %}
<div class="container">

    <h1 style="margin-top:0.5em;">新しくWikiを作成</h1>

    <div class="text-right">
        {% include "commons/return.html" %}
    </div>

    <hr/>

    <p class="alert alert-info">wikiを新しく作成する場合はサービスにログインして下さい。</p>
    <div class="text-center">
        <a href="{% url 'accounts:index' %}" class="btn btn-primary">ログイン</a>
    </div>

    <hr/>
    <div class="text-center">
        {% include "commons/return.html" %}
    </div>

</div>

{% endblock %}