{% extends "wikis/base_contents.html" %}
{% load wiki_tags %}

{% block title %}
ページが存在しません。|{{wiki_conf.name}}
{% endblock %}

{% block main_contents %}

<div class="main-contents">
    <div class="page-name-wrapper">
        <div class="breadcrumb_list-wrapper">
            <div class="breadcrumb_list">{% breadcrumb_list wiki_id page_dirs %}</div>
        </div>
        <h1 class="page-title">{{page_title}}</h1>
    </div>
    <div class="main-contents-body">
        ページが存在しません。
    </div>

</div>


{% endblock %}

