<style>

    div.show-bottom-contents-html div.commerce{
        margin-bottom:1em;
    }

</style>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<hr/>
<div class="show-bottom-contents-html">

    <div class="commerce">
        <!-- UzuWikiページ下１ -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3421369900373379"
             data-ad-slot="4315956989"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    <div class="commerce">
        <!-- UzuWikiページ下２ -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3421369900373379"
             data-ad-slot="6366463300"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

</div>