{% extends "commons/base.html" %}

{% block title %}{{service_title}}|管理コンソール{% endblock %}

{% block body %}


<div class="container">

    {% include "commons/message.html" %}

    <h1 class="text-center">Googleクレジット取得</h1>

    <p class="alert alert-info">添付ファイルの保存先をGoogleドライブにする場合に必要な、アクセストークン等のクレジット情報をセットアップします。</p>

    <hr/>

    <div>
        <ul>
            <li>
                <a href="{% url 'admins:google_credentials_do' %}" class="btn btn-primary">
                    Googleアクセストークン取得
                </a>
            </li>
        </ul>
    </div>


</div>
{% endblock %}